.collectionPage {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collectionPage_container__text {
    margin-bottom: 33px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0.374px;
}
a {
    color: black;
}