.filmDetail_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;
    gap: 40px;
    margin-top: 120px;
    max-width: 630px;
}
.filmDetail_img {
    width: 100%;
}
.filmDetail_container__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 8px;
}
.filmDetail__name {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.17px;
}
.filmDetail__ratingAndYear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 36px;
    margin-bottom: 19px;
}
.filmDetail__year {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.filmDetail__rating_container {
    color: #002DFF;
    border-radius: 14px;
    border: 2px solid #002DFF;
}
.filmDetail__rating_wrapper {
    background: white;
    padding: 8px;
    border-radius: 10px;
}
.filmDetail_container__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 2px #002DFF solid;
    border-radius: 25px;
    width: 188px;
    padding: 6px;
    margin-bottom: 22px;
}
.filmDetail_button__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.336px;
    background: none;
    color: #002DFF;
}
.filmDetail_description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 18px;
}
.categories_container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.categories {
    border: 2px solid black;
    border-radius: 15px;
}
.categories_detail {
    background: white;
    border-radius: 15px;
    padding: 2.5px 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.24px;
}
.filmDet {
    display: flex;
    justify-content: center;
}