.email,
.password {
    padding: 19px 16px;
    width: 375px;
    border-bottom: 1px #3c3c434d solid;
}
.loginPage_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginPage_container {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-bottom: 70px;
}
::placeholder {
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #3c3c434d;
}
.loginPage_button {
    margin: 70px 0 52px;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #3c3c434d;
    padding: 14px 7px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: #f4f4f5;
}
.loginPage_button:hover {
    color: #002DFF;
    background: white;
    border: #002DFF 3px solid;
    height: 50px;
    padding: 10px 7px;
}
.loginPage_button:active {
    color: white;
    background: #002DFF;
}
.loginPage_info {
    color: #3c3c43;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
}
.loginPage_info__reg {
    color: #002DFF;
}
